{% extends 'pizzeria/base.html' %}
{% load static %}

{% block title %}
<title>About us</title>
{% endblock %}

{% block main %}
<div id = 'content'>
    <section class="about">
  <figure>
  <figcaption class = 'company-name'><h1 align="center" style="font-size:48px"> PIZZA TIME </h1></figcaption>
    <p ><a class = 'logo-link' href="" download="https://resources-usc.gitlab.io/00-prof-jannie-jacobs/book--rest-in-pizza.pdf">
        <img src="{% static 'pizzeria/images/pizzatimelogo(mini).png' %}" alt="logo" width="500in" class = 'logo' align="center"></a></p>
    <p>
    <wbr>Usually people come to Pizza Time just to eat. Our promoters distribute leaflets about a slice of pizza for one ruble or something else profitable. We are doing this as the first step to get to know each other.

But for us, PizzaTime is not just pizza. It's pizza too, but first of all it's a big deal that inspires us, makes us wake up every morning and continue working with interest.

What is our interest? Let's tell you now.
</p>
</figure>
  <article align="center">
      <h1 align="center" style = 'font-size:30px'>Our history</h1>
      <iframe width="560" height="349" src="https://www.youtube.com/embed/mxR3aGGBXt0" frameborder="0" allowfullscreen></iframe>
      <dl>
          <dt> <h1 style = 'font-size:30px'><time datetime="1984-12-7">December 7th</time></h1></dt>
         <dd>
           Date of the company's <abbr title = 'pizza time'>PT</abbr> appearance on the market
         </dd>
          <dt><h1 style = 'font-size:30px'><time datetime="1985-1-12">January 12th</time></h1></dt>
         <dd>
             The first million buyers in our small company:-
             <dfn title = 'small company'><wbr>The name of commercial enterprises that do not exceed certain indicators. Otherwise, they are classified as large enterprises.</dfn>
         </dd>
          <dt> <h1 style = 'font-size:30px'><time datetime="1985-7-25">July 12th</time></h1></dt>
         <dd>
           Our company has its own status:
             <p>
                 <blockquote cite = 'https://interesnoe.me/source-30081607/post-323092'><em>A good day starts with pizza</em></blockquote>
             </p>
         </dd>
          <dt> <h1 style = 'font-size:30px'><time datetime="1985-8-26">August 26th</time></h1></dt>
         <dd >
           <wbr>One programmer, after visiting our restaurant, wrote us his review in the form of a code, now we keep this warm memory of the responsiveness of our customers
             <p><code>
                  var string = 'Good and delicious pizza is about you'
                  document.writeln(string);
             </code></p>
         </dd>
    </dl>

  </article>
</section>

<section class="sertificate sertificate-bg">
    <br />
    <div style="text-align:center;">CERTIFICATE OF MEMBERSHIP IN RBMW (REGISTRY OF THE BEST PIZZERIA IN THE WORLD)</div>
    <br />
    <br />
    <br />
    <div style="text-align:center">UNIFIED REGISTER OF PIZZERIAS</div>
    <div style="text-align:center">CERTIFICATE</div>
    <div style="text-align:center"><small>regarding the Inclusion of Information</small></div>
    <br />

    <div>
        <p style=" text-align:left;">uezdniy gorod N </p> <p style="text-align:right;"> 32 may 2023</p>
    </div>
    <br />
    <b>ООО "Zelenoglazoe taksi"</b>
    <br />

    <div class="gradient"></div>

    Ivanov I.I.
    <br />
    A very important director

</section>
</div>

<h1 align="Center">Try yourself in design sphere </h1>
<form id="styleForm" style = 'margin:50px; font-size:45px;'>
    <label>
        <input type="checkbox" id="fontCheckbox" onchange="updateStyles()" style="transform: scale(3); vertical-align:middle;"> Change Font Size
        <div id="fontsizeinput"></div>
    </label>
    <br>
    <label>
        <input type="checkbox" id="colorCheckbox" onchange="updateStyles()" style="transform: scale(3); vertical-align:middle;"> Change Text Color
        <div id="textcolorinput"></div>
    </label>
    <br>
    <label>
        <input type="checkbox" id="backgroundCheckbox" onchange="updateStyles()" style="transform: scale(3); vertical-align:middle;"> Change Background Color
        <div id="backgroundinput"></div>
    </label>
</form>

<style>
#cont
{
    margin:50px;
}
    button {
      background-color: #777;
      border: none;
      color: white;
      text-align: center;
      font-size: 14px;
      border-radius: 3px;
    }
    input[type="number"] {
      padding: 5px 10px;
      margin: 5px 0;
      box-sizing: border-box;
    }
    #random_table {
      margin-top: 20px;
      border-collapse: collapse;
      border: 1px solid black;
    }
    #random_table td {
      border: 1px solid black;
      text-align: center;
      vertical-align: middle;
      padding: 10px;
      user-select: none;
    }
    .selected:nth-child(even) {
      background-color: #81607 5;
    }
    .selected:nth-child(odd) {
      background-color: #4e879b;
    }
</style>

<button type="button" onclick="ShowResExtends()" style="font-size:23px; text-decoration:bold; margin:50px;">EXTENDS</button>

<div id="cont">

  <span>
    <button onclick="addRow()">Add row</button>
    <button onclick="addColumn()">Add column</button>
    <button onclick="transpose()">Transpose</button>
    Width:<input type="number" id="width" min="1" max="50" value="1">
    Height:<input type="number" id="height" min="1" max="50" value="1">
    <button onclick="
    var width = document.querySelector('#width').value;
    var height = document.querySelector('#height').value;

    createTable(height, width)">Create table</button>

    Max select:<input type="number" id="maxSelect" min="1" max="50" value="1">
  </span>
</div>



<div class = 'latesdate' style="margin:50px;">
    <form id="dateForm">
    <input type="date" id="date" name="date" max = "">
    <button type="button" onclick="addDate()">Add Date</button>
    <button type="button" onclick="findLatestDate()">Find Latest Date</button>
</form>
<div id="inputData">
    <h3>Input Dates:</h3>
    <ul id="datesList"></ul>
</div>
<div id="result"></div>
</div>

<script src="{% static 'pizzeria/js/extends.js' %}" defer></script>
<script src="{% static 'pizzeria/js/changecolors.js' %}" defer></script>
<script src="{% static 'pizzeria/js/matrix.js' %}" defer></script>

{% endblock %}