<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta name = 'description' content="Pizzeria time" author="Pikhtovnikova Maria" decription ='pizza shop'>
    {% block title %}
      <title>PizzaTime</title>
    {% endblock %}
    <link rel="icon" href="{% static 'pizzeria/images/icons8.png' %}" type="image/x-icon">
    <meta charset="UTF-8">
</head>
<body style = 'margin:0px'>
{% block header%}
<header>
  <nav class = 'header navigation'>
    <div class = 'inline panel'>
      <ul>
          <li style='display: inline; margin-right: 10px;'>
              <a href="{% url 'about' %}" style="text-decoration: none; color: inherit;">
                  About us
              </a> </li>
          <li style='display: inline; margin-right: 10px;'>
              <a href="{% url 'contacts' %}" style="text-decoration: none; color: inherit;" >
                  Contacts
              </a></li>
          <li style='display: inline; margin-right: 10px;'>
              <a href="#" style="text-decoration: none; color: inherit;" >
                  Terms of delivery
              </a></li>
           <li style='display: inline; margin-right: 10px;'>
              <a href="{% url 'home' %}" style="text-decoration: none; color: inherit;" >
                  Home
              </a></li>
          <li style='display: inline; margin-right: 10px;'>
              <a href="{% url 'faq' %}" style="text-decoration: none; color: inherit;" >
                  FAQ
              </a>
          </li>
          <li style='display: inline; margin-right: 850px;'>
              <a href= "{% url 'info' %}" style="text-decoration: none; color: inherit;">
                  Static info
              </a> </li>
          <li style='display: inline; margin-right: 10px;'>
              {% if user.is_authenticated %}
                {% if user.is_superuser %}
                    <a style="text-decoration: none; color: inherit;"  href="/admin/">Personal Account</a>
                {% else %}
                    <a style="text-decoration: none; color: inherit;"  href="{% url 'personal_account' %}">Personal Account</a>
                {% endif %}
              {% else %}
                <a style="text-decoration: none; color: inherit;"  href="/accounts/login/">Personal Account</a>
              {% endif %}
          </li>
      </ul>
    </div>
  </nav>
    <hr>
</header>
{% endblock %}

{% block main %}
<div style="margin: 0; padding: 0; width: 100%; overflow: hidden; ">
    <img src="{% static 'pizzeria/images/rec.png' %}"
         style="width: 100%; height: auto; display: block;", alt = 'Simple pic', title = 'Some text' >
</div>
<main style="margin:8px">
    <div class = 'mainmenu' >
        <ul style="padding:0">
          {% for m in menu %}
            {% if m.title == 'Pizza' %}
            <li class="prelast" style='display: inline; margin-right: 50px; margin-left:30px;'>
                <a href="#pizza" style="text-decoration: none; color: inherit;">
                    {{ m.title }}
                </a></li>
            {% elif not forloop.revcounter <= 2  %}
            <li style='display: inline; margin-right: 50px;'>
                <a href="{% url m.url_name %}" style="text-decoration: none; color: inherit;">
                    {{ m.title }}
                </a></li>
            {% elif forloop.revcounter == 2  %}
            <li class="prelast" style='display: inline; margin-right: 850px;'>
                <a href="#promo" style="text-decoration: none; color: inherit;">
                    {{ m.title }}
                </a></li>
            {% else %}
            <li class="Lst" style='display: inline; margin-right: 20px;'>
                {% block cartref %}
                {{ m.title }}
                {% endblock %}
            </li>
            {% endif %}
            {% endfor %}
        </ul>
        </div>

   <hr style="margin-bottom: 100px;">
    <section class = 'maincontent'>
        <article id = 'pizza'>
        <h2 align="center", style = 'font-size:70px; margin-top: 0px;"'>PIZZA</h2>
            {% block pizzacontent %}
            {% endblock  %}
        </article>
    <article id = "promo">
        <h2 align="center", style = 'font-size:70px'>PROMOTIONS</h2>
        {% block promocontent %}
        {% endblock  %}
    </article>


    </section>

</main>
{% endblock %}

<footer style = 'margin:0px'>
    <hr>
    {% block footer %}
    {% endblock %}
    <hr>
      <p>©Авторские права никому не принадлежат, 2023. Все права защищены.</p>
    <hr>
</footer>



</body>
</html>