<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta name = 'description' content="Pizzeria time" author="Pikhtovnikova Maria" decription ='pizza shop'>
    {% block title %}
      <title>PizzaTime</title>
    {% endblock %}
    <link rel="icon" href="{% static 'pizzeria/images/icons8.png' %}" type="image/x-icon">
    <link rel = 'stylesheet' type="text/css" href="{% static 'pizzeria/css/styles.css' %}">
    <script src="{% static 'pizzeria/js/scroll.js' %}" defer></script>
    <script src="{% static 'pizzeria/js/main.js' %}" defer></script>
    <script src="{% static 'pizzeria/js/banner.js' %}" defer></script>
    <script src="{% static 'pizzeria/js/pizza_cards.js' %}" defer></script>
    <script src="{% static 'pizzeria/js/timer.js' %}" defer></script>
    <script src="{% static 'pizzeria/js/test.js' %}" defer></script>

    <script src="{% static 'pizzeria/js/promocodes.js' %}" defer></script>
    <script src="{% static 'pizzeria/js/tableDate.js' %}" defer></script>
    <meta charset="UTF-8">
</head>
<body>
{% block header%}
<header>
  <nav class = 'header-navigation sticky-nav' id = 'navbar'>
      <div id="countdown"></div>
    <div class = 'inline_panel'>
      <ul>
          <li>
              <a href="{% url 'about' %}">
                  About us
              </a> </li>
          <li>
              <a href="http://127.0.0.1:8000/#contacts">
                  Contacts
              </a></li>
          <li>
              <a href="{% url 'home' %}"><img src="{% static 'pizzeria/images/pizza2.png' %}" alt="Pizza Time"></a>
          </li>
          <li>
              <a href= "{% url 'check' %}">
                  Static info
              </a></li>
          <li class = 'last'>
              {% if user.is_authenticated %}
                {% if user.is_superuser %}
                    <a href="/admin/">Personal Account</a>
                {% else %}
                    <a href="{% url 'personal_account' %}">Personal Account</a>
                {% endif %}
              {% else %}
                <a href="/accounts/login/">Personal Account</a>
              {% endif %}
          </li>
      </ul>
    </div>
  </nav>
</header>
{% endblock %}

{% block main %}

<main>

    <div class="image-container" id = 'imageContainer'>
        <img src="{% static 'pizzeria/images/rec.png' %}" alt="Banner #1" class = 'banner'>
        <img src="{% static 'pizzeria/images/rec2.png' %}" alt="Banner #2" class = 'banner'>
        <img src="{% static 'pizzeria/images/rec3.png' %}" alt="Banner #3" class = 'banner'>
        <img src="{% static 'pizzeria/images/rec4.png' %}" alt="Banner #4" class = 'banner'>
    </div>
    {% if user.is_authenticated %}
        {% if user.is_superuser %}
              <div align="center" id="adminSelectBar">
                   <h1 align="center">Banner settings</h1>
                  <form>
                       <span>Animation duration</span> <input type="range" min="1" max="200" step="1" id="animationTime">
                  </form>
              </div>
        {% endif %}
        {% endif %}

    <nav class="mainnavigation">
        <div class="inline_panel" >
            <ul style="padding:0;">
              {% for m in menu %}
                {% if m.title == 'Pizza' %}
                <li class="prelast">
                    <a href="#pizza">
                        {{ m.title }}
                    </a></li>
                {% elif not forloop.revcounter <= 2  %}
                <li >
                    <a href="{% url m.url_name %}">
                        {{ m.title }}
                    </a></li>
                {% elif forloop.revcounter == 2  %}
                <li class="prelast">
                    <a href="#promo">
                        {{ m.title }}
                    </a></li>
                {% else %}
                <li class="Lst" >
                    {% block cartref %}
                    {{ m.title }}
                    {% endblock %}
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </nav>

    <section class = 'maincontent'>
        <article id = 'pizza'>
        <h2 align="center">PIZZA</h2>
            {% block pizzacontent %}
            {% endblock  %}
        </article>
        <article id = "promo">
            <h2 align="center">PROMOTIONS</h2>
            {% block promocontent %}
            {% endblock  %}
        </article>
    </section>
</main>
{% endblock %}

<footer style = 'margin:0px' class = 'block-footer'>
    <hr id = 'contacts'>

<!--    {% block footer %}-->
<!--    {% endblock %}-->
<!--    <hr>-->
      <p>©Авторские права никому не принадлежат, 2023. Все права защищены.</p>
    <hr>
</footer>
</body>
</html>