{% extends 'pizzeria/base.html' %}

{% block main %}
<article id = "info">
        <h2 align="center", style = 'font-size:70px'>STATIC INFO</h2>
</article>
    <table class ='info-table' border="1" align="center">
        <caption>Static info</caption>
        <tr>
            <th id="criterion"> Criterion</th>
            <th id="pizza" width="300x">Pizza</th>
            <th id="orders" width="150px">Orders</th>
            <th id="couriers" width="150px">Couriers</th>
        </tr>
        <tr>
            <th id="count" headers="criterion" width="200px">Count of...</th>
            <td headers="pizza count" >{{ pizza_count }}</td>
            <td headers="orders count">{{ orders_count }}</td>
            <td headers="couriers count">{{ couriers_count }}</td>
        </tr>
        <tr>
            <th id="popular_pizza" headers="criterion">The most popular pizza</th>
            <td headers="popular_pizza" colspan="3">{{ popular_pizza }}</td>
        </tr>
    </table>

    {{ plot_div|safe }}
{% endblock %}