{% extends 'pizzeria/base.html' %}


{% block pizzacontent %}
<table class="table-content" border="0" cellpadding="0" cellspacing="100px" align="center">
    <tr style=" text-align: center;">
        {% for p in pizzas %}
        {% if forloop.counter0|divisibleby:3 and not forloop.first %}
        </tr><tr style=" text-align: center;">
        {% endif %}
        <td valign="top" class="left-chapters">
            {% if p.image %}
            <p>
                <a href="#">
                    <img class="img-article" src="{{p.image.url}}" alt="burger pizza" width="300" height="300">
                </a>
            </p>
            {% endif %}
            <h2>{{p.name}}</h2>
            <div style="display: inline">
                <h3>{{p.price}}</h3>
                <a href="#">
                    <button type="button" name="btn">Select</button>
                </a>
            </div>
        </td>
        {% endfor %}
    </tr>
</table>
{% endblock %}


{% block promocontent %}

{% endblock %}

