{% extends 'pizzeria/base.html' %}

{% block title %}
<title>{{ article.title }}</title>
{% endblock %}

{% block header %}
<header>
  <nav class = 'header navigation'>
    <div class = 'inline panel'>
      <ul>
          <li style='display: inline; margin-right: 10px;'>
              <a href="{% url 'news_list' %}" style="text-decoration: none; color: inherit;" >
                  ALL NEWS
              </a></li>
          <li style='display: inline; margin-left: 80%;'>
              {% if user.is_authenticated %}
                {% if user.is_superuser %}
                    <a style="text-decoration: none; color: inherit;"  href="/admin/">Personal Account</a>
                {% else %}
                    <a style="text-decoration: none; color: inherit;"  href="{% url 'personal_account' %}">Personal Account</a>
                {% endif %}
              {% else %}
                <a style="text-decoration: none; color: inherit;"  href="/accounts/login/">Personal Account</a>
              {% endif %}
          </li>
      </ul>
    </div>
  </nav>
    <hr>
</header>
{% endblock %}

{% block main %}
<article itemscope itemtype="https://schema.org/Article">
  <div class="article-container">
    <h1 itemprop="headline">{{ article.title }}</h1>
    <div class="article-image">
      <img src="{{ article.image.url }}" alt="{{ article.title }}">
    </div>
    <p itemprop="articleBody">{{ article.content|safe }}</p>
  </div>
</article>

{% endblock %}